        img{
            border-radius: 10px;
            border-style: solid;
            border-width:40px;
            float: right;
        }

        body{
            background-color: rgb(56, 145, 204);
        }